Q. What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
- Importance:
- Choosing the right data structure significantly impacts the efficiency and performance of your program.
- Well-chosen data structures can:
- Simplify data manipulation (adding, removing, modifying elements)
- Optimize searching and sorting operations
- Conserve memory usage

Q.Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types
Definition: Objects whose values can be modified after creation.
Examples: Lists, Sets, Dictionaries.
- Immutable Data Types
Definition: Objects whose values cannot be changed after creation.
Examples: Strings, Tuples, Integers, Floating-point numbers.

Q. What are the main differences between lists and tuples in Python?
- The main difference between lists and tuples is that lists are of mutable type(i.e. their elements can be changed after creation), whereas tuples are of immutable type(i.e. their elements cannot be changed after creation).

Q. Describe how dictionaries store data?
- A dictionary in Python is a collection of key-value pairs, where each key maps to a specific value. Unlike lists and tuples, which use numerical indexing, dictionaries allow fast lookups using unique keys.

Q. Why might you use a set instead of a list in Python?
- We might use a set instead of list in python if we  don't need repititve data items in the given data because sets takes takes only one unique items  and discards all other coipies of it.

Q.What is a string in Python, and how is it different from a list?
- String in a python is a data type which we generally use to store data in form of sentences. Strings are of immutable type and can't be changed after bring created , whereas lists are a type of data structure in python which can store any type of data in form of different elements within itself also lists are mutable.

Q. How do tuples ensure data integrity in Python?
- Since tuples are immutable data structures i.e. tuples cannot be changed or modified after being created hence the data in tuples are more safe and integrated than other data types.

Q.What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a data structure that stores key-value pairs and provides fast lookup, insertion, and deletion using a process called hashing. In Python, dictionaries (dict) are implemented using hash tables internally.

Q. Can lists contain different data types in Python?
- Yes, lists can contains any data types such as string ,flaot,integers,complex numbers, boolean values and not only data types lists can contain any dat structure in it such as sets,tuples,dictionaries, and lists iteself.

Q. Explain why strings are immutable in Python?
- Strings in Python are immutable, meaning they cannot be modified after creation. If we attempt to change a string, Python creates a new string object instead of modifying the original one.

Q. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries (dict) offer several advantages over lists (list) in Python, especially when fast lookups, unique key-value storage, and structured data management are required.

Q. Describe a scenario where using a tuple would be preferable over a list?
- Let take a scenario where we are storing bank account numbers of certain customers in this scenario we may use tuples as we cannot change the bank account numbers of the customers and since tuples are immutable thats why we would like to go with tuples.

Q. How do sets handle duplicate values in Python?
- In Python, sets automatically discard duplicate values because they are unordered collections of unique elements. When you add duplicate values to a set, Python keeps only one instance of each unique value.

Q. How does the “in” keyword work differently for lists and dictionaries?
- In both lists and dict the in keyword is used as a membership operators but in lists it checks the certain values are presents in a list whereas in dict it checks for the keys present in the dict.

Q. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means once a tuple is created, its elements cannot be changed, added, or removed.

Q. What is a nested dictionary, and give an example of its use case?
- Nested dictionary means if we give any value in the dictionary coreesponding to key again as a dictionary itself. A use case for this is to define keys as years in a dict and give corresponding values to these keys a s a dict containing the car models and units sold.

Q. Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing elements in a dictionary (dict) in Python is O(1) on average and O(n) in the worst case.

Q. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when ordered storage, indexed access, and efficient iteration are required. They use less memory and allow fast appends (O(1)). Lists are better for sequential access and support duplicate values. If key-based lookups are not needed, lists are a simpler choice.

Q. Why are dictionaries considered unordered, and how does that affect data retrieval?
-Dictionaries were historically considered unordered because they used hash tables for storage, where elements were placed based on hash values rather than insertion order. Before Python 3.7, retrieving elements could return them in an arbitrary sequence. Since Python 3.7+, dictionaries preserve insertion order, but they still do not support index-based access like lists, requiring key-based lookups instead.

Q. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list retrieves data using index-based access (O(1)), meaning elements are accessed by their position (e.g., list[2]). A dictionary, however, retrieves data using key-based access (O(1) on average), meaning elements are found by their unique keys (e.g., dict['name']). Lists support sequential lookups, while dictionaries offer faster lookups for specific values but do not allow direct indexing.

In [1]:
#Q Write a code to create a string with your name and print it.
name="Lohit Sharma"
print(name)

Lohit Sharma

In [2]:
#Q Write a code to find the length of the string "Hello World".
string="Hello World"
print(f"Length of {string} is {len(string)}")

Length of Hello World is 11

In [3]:
#Q Write a code to slice the first 3 characters from the string "Python Programming".
string="Python Programming"
print(string[:3])

Pyt

In [4]:
#Q Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [9]:
#Q Write a code to replace the word "apple" with "orange" in the string "I like apple".
string="I like apple."
print(string.replace("apple","orange"))

I like orange.

In [11]:
#Q Write a code to create a list with numbers 1 to 5 and print it.
list1_5=list(range(1,6))
print(list1_5)

[1, 2, 3, 4, 5]

In [12]:
#Q. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
#Q. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [14]:
#Q. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst=['a', 'b', 'c', 'd']
print(lst[1])

b

In [15]:
#Q. Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [18]:
#!. . Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [20]:
#Q. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [21]:
#Q.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10, 20, 5, 15)
print(f'minimum of {tup} is {min(tup)}')

minimum of (10, 20, 5, 15) is 5

In [22]:
#Q.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [24]:
#Q. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("mango","litchi","pineapple")
if ("kiwi" in fruits):
  print("kiwi is present")
else: print('kiwi is not in fruits.')

kiwi is not in fruits.

In [27]:
#Q. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'b', 'c', 'a'}

In [29]:
# Q. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [30]:
# Q. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [31]:
#Q. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1={1,2,3}
s2={3,4,5}
print(f'Union of {s1} and {s2} is {s1|s2}.')

Union of {1, 2, 3} and {3, 4, 5} is {1, 2, 3, 4, 5}.

In [32]:
#Q.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={2,3,4}
print(f'Intersection of {s1} and {s2} is {s1&s2}.')

Intersection of {1, 2, 3} and {2, 3, 4} is {2, 3}.

In [37]:
#Q.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={}
d=d.fromkeys(["name", "age","city"])
print(d)

{'name': None, 'age': None, 'city': None}

In [38]:
#Q.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d= {'name': 'John', 'age': 25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [39]:
#Q.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [43]:
#Q.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [44]:
#Q.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={'name': 'Alice', 'city': 'Paris'}
if ('city' in d): print("Key city is present.")
else: print("Key city is not present")

Key city is present.

In [48]:
#Q. Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,2,3,4,5]
tup=(1,2,3,4,5)
d={1:'a',2:'b',3:'c'}
print(f'List:{l}\nTuple:{tup}\nDictionary:{d}')

List:[1, 2, 3, 4, 5]
Tuple:(1, 2, 3, 4, 5)
Dictionary:{1: 'a', 2: 'b', 3: 'c'}

In [61]:
#Q.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
from random import*
l=[]
for i in range(5):
  l.append(randint(1,100))
print(f' Sorted list is {sorted(l)}.')

 Sorted list is [23, 28, 50, 73, 98].

In [63]:
#Q.Write a code to create a list with strings and print the element at the third index.
l=["mango","litchi","pineapple","orange","apple"]
print(l[3])

orange

In [68]:
#Q. Write a code to combine two dictionaries into one and print the result.
d1={'Brand1':'Tesla','Year1':2025,'Sales1':2000}
d2={'Brand2':'Mahindra','Year2':2025,'Sales2':30000}
print(d1.update(d2))
print(d1)

None
{'Brand1': 'Tesla', 'Year1': 2025, 'Sales1': 2000, 'Brand2': 'Mahindra', 'Year2': 2025, 'Sales2': 30000}

In [72]:
#Q.  Write a code to convert a list of strings into a set.
l=["mango","litchi","pineapple","orange","apple"]
print(f'After converting list: {l} \ninto set we get {set(l)}.')

After converting list: ['mango', 'litchi', 'pineapple', 'orange', 'apple']
into set we get {'orange', 'mango', 'pineapple', 'litchi', 'apple'}.